.statusWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

.statusWrap a {
    width: 49%;
}

@media (max-width: 834px){
    .statusWrap a{
        width: 100%;
    }
}